@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Jersey+10&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Athiti", sans-serif;

  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {

}

.projector-bg {
  background-image: url('/images/wall-bg-1.webp');
  background-size: 256px;
}

.bg-invert {
  filter: blur(3px) invert(80%);
}

.bg-blackwhite {
  filter: grayscale(100%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.text-shadow {
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 1);
}

/* Minecraft design */
.input-text {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #000;
  color: #fff;
  padding: 0.5rem;
  @apply text-2xl;
}

.jersey-10 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.athiti-extralight {
  font-family: "Athiti", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.athiti-light {
  font-family: "Athiti", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.athiti-regular {
  font-family: "Athiti", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.athiti-medium {
  font-family: "Athiti", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.athiti-semibold {
  font-family: "Athiti", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.athiti-bold {
  font-family: "Athiti", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* Animation */

.animate-shake {
  animation: shaking 0.25s;
  animation-fill-mode: both;
}
.animate-attack {
  animation: attack 0.5s;
}

/* Shaking */
@keyframes shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Attack */
/* Move forward and reverse back */
@keyframes attack {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-evelope {
  animation: envelopeMove 1s steps(1, end) infinite;
  /* animation-timing-function: cubic-bezier(10, 10, 20); */
}

@keyframes envelopeMove {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(40px);
  }
  75% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-updown {
  animation: updown 1s steps(1, end) infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-zoomInAndFadeOut {
  animation: zoomInAndFadeOut 0.5s;
  animation-fill-mode: both;
}

@keyframes zoomInAndFadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.15);
    opacity: 0;
  }
}

.animate-pencilWriting {
  animation: pencilWriting 1s steps(1, end) infinite;
}

@keyframes pencilWriting {
  0% {
    transform: translateX(0) rotate(10deg);
  }
  25% {
    transform: translateX(15px) translateY(5px) rotate(0deg);
  }
  50% {
    transform: translateX(0) translateY(0px) rotate(-10deg);
  }
  75% {
    transform: translateX(-15px) translateY(-5px) rotate(0deg);
  }
  100% {
    transform: translateX(0) rotate(10deg);
  }
}

.animate-blink {
  animation: blink 0.75s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}